# Byte-code and caches
__pycache__/
*.py[cod]

# Virtualenvs & env-files
venv/
.env

# Testing & coverage
.pytest_cache/
.coverage
htmlcov/

# Docker & Airflow artifacts
airflow/logs/
data/
*.db
docker-compose.override.yml

# dbt artifacts
dbt/football_pipeline/target/
dbt/football_pipeline/logs/

# Editor directories
.vscode/


# Python tooling
.mypy_cache/
.ruff_cache/

# macOS files
.DS_Store

#Local files
LinkedIn/
streamlit/
frontend/
logs/
dim_fixtures.sql
dim_teams.sql
EDA.ipynb
extract_stats.py
former_update_query.sql
Not_null_raw_fixtures.sql
raw_fixtures.sql
raw_league_season.sql
raw_schema.sql
raw.raw_fixtures.sql
to_update_ids.sql
update_fixtures.sql
updates_test_id.json
updates_test.json